.children {
  &__info {
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    height: 50%;
    margin-top: 80px;
  }
  &__item {
    font-size: 20px;
    padding: 5px;
    line-height: 70%;
  }
  &__photo {
    display: block;
    width: 173px;
    height: 172px;
  }
  &__name {
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
  }
}